*
    font-family: "inter-ui-bold", Arial, sans-serif
    padding: 0
    margin: 0
    box-sizing: border-box
    color: $white

body, html
    background-color: $bg

h1
    font-size: 80px
    line-height: 96px
    position: relative
    margin-bottom: $base-indent * 8 / 3

    &::before
        content: ""
        width: 80px
        height: 4px
        position: absolute
        border-radius: 2px
        background-color: $salat
        bottom: -60px
        left: 0

    @media screen and (max-width: $device-width-medium)
        font-size: 60px
        line-height: 86px

    @media screen and (max-width: $device-width-small)
        font-size: 40px
        line-height: 56px
        margin-bottom: 50px

        &::before
            bottom: -20px

    + p
        +ffam("inter-ui-regular")

        font-size: 20px
        color: $paragraph-color
        margin-bottom: $base-indent * 6.2 / 3

        @media screen and (max-width: $device-width-small)
            margin-bottom: $base-indent

.container
    width: $device-width-full
    margin: 0 auto

    @media screen and (max-width: $device-width-full)
        width: $device-width-large

    @media screen and (max-width: $device-width-large)
        width: $device-width-medium

    @media screen and (max-width: $device-width-medium)
        width: $device-width-small

    @media screen and (max-width: $device-width-small)
        width: 100%
        padding: 0 20px

ul, ol
    li
        list-style: none

a
    text-decoration: none
