<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <main id="app">
      <header>
        <nav class="container">
          <a class="logo" href="#"></a>
          <a class="contact-us" href="#">Contact Us</a>
        </nav>
      </header>
      <section>
        <div class="container">
          <h1>
            Resources to kickstart<br />
            your million dollar<br />dream project
          </h1>
          <p>“Ideas are commodity. Execution of them is not”</p>
        </div>
      </section>
      <section class="section-with-projects">
        <div class="container">
          <h2>For Startups</h2>
          <ul class="projects-list">
            <li
              v-for="project in startupProjects.projects"
              v-if="startupProjects && startupProjects.projects"
            >
              <a href="#">
                <img :src="project.imgSrc" alt="" />
                <h4>{{project.name}}</h4>
                <p>in {{project.kit}}</p>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="section-with-projects">
        <div class="container">
          <h2>For Designers</h2>
          <ul>
            <li v-for="project in designersProjects.projects">
              <a href="#">
                <img :src="project.imgSrc" alt="" />
                <h4>{{project.name}}</h4>
                <p>in {{project.kit}}</p>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="section-with-projects">
        <div class="container">
          <h2>For Developers</h2>
          <ul>
            <li
              v-for="project in developersProjects.projects"
              v-if="developersProjects && developersProjects.projects"
            >
              <a href="#">
                <img :src="project.imgSrc" alt="" />
                <h4>{{project.name}}</h4>
                <p>in {{project.kit}}</p>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <footer>
        <nav class="container">
          <ul>
            <li class="logo"><a href="#"></a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">For Startups</a></li>
            <li><a href="#">For Designers</a></li>
            <li><a href="#">For Developers</a></li>
            <li class="contact-us"><a href="#">Contact Us</a></li>
            <li class="copyright">
              <span
                >Copyrights &copy; 2019. Cohort - A Project by IndiaNIC Infotech
                Ltd.</span
              >
            </li>
          </ul>
        </nav>
      </footer>
    </main>
  </body>
</html>
